<center><a href="/"><h1>Insert Productods</h1></a></center>

<form method="POST">
    <center><label for="nombre_prod">Nombre del Producto</label></center>
    <center><input type="text" id="nombre_prod" name="nombre_prod" placeholder="Nombre_prod"></center>
    <br>
    <center><label for="marca">Marca</label></center>
    <center><input type="marca" id="marca" name="marca" placeholder="Marca"></center>
    <br>
    <center><label for="existencias">Existencias</label></center>
    <center><input type="existencias" id="existencias" name="existencias" placeholder="Existencias"></center>
    <br>
    <center><label for="descripcion">Descripcion</label></center>
    <center><input type="descripcion" id="descripcion" name="descripcion" placeholder="Descripcion"></center>
    <br>
    <center><label for="costo">Costo</label></center>
    <center><input type="costo" id="costo" name="costo" placeholder="Costo"></center>
    <br>    
    <center><button type="submit" class="btn btn-primary">Insertar Producto</button></center>
</form>


