<center><a href="/"><h1>Nuevo Cliente</h1></a></center>

<form method="POST">
    <center><label for="nombre">Nombre</label></center>
    <center><input type="text" id="nombre" name="nombre" placeholder="Nombre"></center>
    <br>
    <center><label for="email">Email</label></center>
    <center><input type="email" id="email" name="email" placeholder="Email"></center>
    <br>
    <center><label for="turno">Turno</label></center>
    <center> <input type="turno" id="turno" name="turno" placeholder="turno"></center>
    <br>
    <center><label for="direccion">Direccion</label></center>
    <center><input type="direccion" id="direccion" name="direccion" placeholder="direccion"></center>
    <br>
    <center><label for="genero">Genero</label></center>
    <center><input type="genero" id="genero" name="genero" placeholder="genero"></center>
    <br>    
   <center><button type="submit" class="btn btn-primary">Insertar</button></center>
</form>