$def with(datos)
<center><a href="/"><h1>Actualizar Informacion<h1></a><center>

<form method="POST">
    <center><label for="nombre">Nombre</label></center>
    <center><input type="text" readonly="true" value="$datos.nombre" id="nombre" name="nombre"></center>
    <br>
    <center><label for="email">Email</label></center>
    <center><input type="email" value="$datos.email" id="email" name="email"></center>
    <br>
    <center><label for="turno">Turno</label></center>
    <center><input type="turno" value="$datos.turno" id="turno" name="Turno"></center>
    <br>
    <center><label for="direccion">Direccion</label></center>
    <center><input type="direccion" value="$datos.direccion" id="direccion" name="direccion"></center>
    <br>
    <center><label for="genero">Genero</label></center>
    <center><input type="genero" value="$datos.genero" id="genero" name="genero"></center>
    <br>    
    <center><button type="submit" class="btn btn-primary">Actualizar</button></center>
</form>
    
    
    